/* Add any css you want to use for you website here */
table, tr, th, td {
  border: 1px solid rgb(173, 173, 173);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}

tr, th, td {
  padding: 10px;
}

.main-header{
  padding: 20px;
  text-align: center;
}

img.displayed {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-description{
  text-align: center;
  margin-top: 30px;
}


.homepage-link:hover {
  color: red;
}

#stats-par {
  text-align: center;
}

.home_back {
  background-image: url('/Users/jacob/Desktop/compSci/software_dev/Lab4_Website/resources/img/ralphie_runners.png');
  

  height: 100%;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.blank_row {
  height: 45px !important;
  border-bottom: none !important;
}

.no-top-border td {
  border-top: 0 !important;
}

.table_center {
  margin-top: 30px;
}



